#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  background-color: #ffe066;
  color: #222;
  font-weight: bold;
  border: 2px solid #ffcc00;
}

.draw-message {
  margin-top: 1em;
  font-size: 1.2em;
  color: #ff6666;
  font-weight: bold;
}
